<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/back-end/admin-layout}">

<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
</head>

<body>
    <div layout:fragment="content">
        <section class="content-header">
            <h1>
                [[${menu}]]
                <small th:text="${subMenu}"></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li th:text="${menu}"></li>
                <li class="active" th:text="${subMenu}"></li>
            </ol>

            <div class="row">
                <div class="col-md-12">
                    <form id="frm-user">
                        <!-- /.box -->
                        <div class="box box-primary">
                            <!-- form start -->
                            <div class="box-body">

                                <div class="form-group" id="frm-group-username">
                                    <label>Username<span class="require-star"> *</span></label>
                                    <input type="text" class="form-control hidden" id="id" name="id"
                                        th:value="${id != null} ? ${id} : null">
                                    <input type="text" autocomplete="off" class="form-control" id="username"
                                        name="username" placeholder="Username">
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group" id="frm-group-email">
                                    <label>Email<span class="require-star"> *</span></label>
                                    <input type="email" autocomplete="on" class="form-control" id="email" name="email"
                                        placeholder="Enter email">
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group">
                                    <label>Mobile</label>
                                    <input type="text" class="form-control" id="mobile" name="mobile"
                                        placeholder="Enter mobile" autocomplete="false">
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group" id="frm-group-role">
                                    <label>Roles<span class="require-star"> *</span></label>
                                    <select class="form-control" id="role" name="role">
                                        <option value="">All</option>
                                        <option value="ADMIN">Admin</option>
                                        <option value="EDITOR">Editor</option>
                                        <option value="USER">User</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group" id="frm-group-password">
                                    <label>Password<span class="require-star password-star"> *</span></label>
                                    <input type="password" class="form-control" id="password" name="password"
                                        placeholder="Password" autocomplete="false">
                                    <span class="help-block"></span>
                                </div>
                                <div class="form-group" id="frm-group-confirm_password">
                                    <label>Confirm Password<span class="require-star password-star"> *</span></label>
                                    <input type="password" class="form-control" id="confirm_password"
                                        name="confirm_password" placeholder="Confirm Password">
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group hidden">
                                    <label>Is SelfService User</label>
                                    <br>
                                    <input type="checkbox" id="self_service_user">
                                </div>

                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-success"
                                    th:text="${id != null} ? 'Update' : 'Save'"></button>
                                <button type="button" id="btn-clear" class="btn btn-danger">Clear</button>
                                <button type="button" id="btn-list" class="btn btn-info">List</button>
                            </div>

                        </div>
                        <!-- /.box -->
                    </form>
                </div>
            </div>
        </section>

    </div>
    <th:blockk layout:fragment="script">
        <script th:src="@{/resources/back-end/js/user/form-user.js}"></script>
    </th:blockk>
</body>

</html>