<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/back-end/admin-layout}">

<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
</head>

<body>
    <div layout:fragment="content">
<style>
    #qrcode img{
        display: inline !important;
    }
</style>
        <section class="content-header">
            <h1>
                [[${menu}]]
                <small th:text="${subMenu}"></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li th:text="${menu}"></li>
                <li class="active" th:text="${subMenu}"></li>
            </ol>

            <div class="row box-primary">
                <div class="col-md-4">
                    <input type="text" class="form-control hidden" id="id" name="id"
                           th:value="${id != null} ? ${id} : null">

                    <!-- Profile Image -->
                    <div class="box box-primary" style="margin-bottom: 0px;">
                        <div class="box-body box-profile">

                            <p class="text-muted text-center"><b>User Information</b></p>

                            <img class="profile-user-img img-responsive"
                                 src="#" style="max-width: 100px; height: auto"
                                 id="user-profile-picture" alt="User profile picture">

                            <ul class="list-group list-group-unbordered" style="margin-bottom: 0px;">
                                <li class="list-group-item">
                                    <b>Username</b> <a class="pull-right" id="username"></a>
                                </li>

                                <li class="list-group-item">
                                    <b>Email</b> <a class="pull-right" id="email"></a>
                                </li>

                                <li class="list-group-item">
                                    <b>Mobile</b> <a class="pull-right" id="mobile"></a>
                                </li>

                                <li class="list-group-item">
                                    <b>Display Name</b> <a class="pull-right" id="display-name"></a>
                                </li>

                                <li class="list-group-item">
                                    <b>Card Number</b> <a class="pull-right" id="card-number"></a>
                                </li>

                            </ul>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>

                <div class="col-md-8">

                    <!-- Profile Image -->
                    <div class="box box-primary" style="margin-bottom: 0px;">
                        <div class="box-body box-profile">
                            <p class="text-muted text-center"><b>Member Information</b></p>

                            <div class="box-body">

                                <div class="form-group col-md-3">
                                    <label>Khmer Full Name</label>
                                    <p class="text-muted" id="khmerFullName"></p>
                                </div>

                                <div class="form-group col-md-3">
                                    <label>English Full Name</label>
                                    <p class="text-muted" id="englishFullName"></p>
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Gender</label>
                                    <p class="text-muted" id="sex"></p>
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Date Of Birth</label>
                                    <p class="text-muted" id="dateOfBirth"></p>
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Address Line</label>
                                    <p class="text-muted" id="addressLIne"></p>
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Village</label>
                                    <p class="text-muted" id="village"></p>
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Commune</label>
                                    <p class="text-muted" id="commune"></p>
                                </div>

                                <div class="form-group col-md-3">
                                    <label>District</label>
                                    <p class="text-muted" id="district"></p>
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Province</label>
                                    <p class="text-muted" id="province"></p>
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Id Card No</label>
                                    <p class="text-muted" id="idCardNo"></p>
                                </div>

                                <div class="clearfix"></div>

                                <div class="form-group col-md-3">
                                    <label>Id Card Image Front</label>
                                    <img class="profile-user-img img-responsive"
                                         src="#" style="max-width: 100px; height: auto; margin: 0;"
                                         id="idCardImageFront" alt="User profile picture">
                                </div>

                                <div class="form-group col-md-3">
                                    <label>Id Card Image Back</label>
                                    <img class="profile-user-img img-responsive"
                                         src="#" style="max-width: 100px; height: auto; margin: 0;"
                                         id="idCardImageBack" alt="User profile picture">
                                </div>


                            <!-- /.box-body -->
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
            </div>
        </section>

    </div>
    <th:block layout:fragment="script">
        <script th:src="@{/resources/back-end/js/user/form-user-detail.js}"></script>

    </th:block>
</body>

</html>