<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/back-end/admin-layout}">

<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
</head>

<body>
    <div layout:fragment="content">
<style>
    #qrcode img{
        display: inline !important;
    }
</style>
        <section class="content-header">
            <h1>
                [[${menu}]]
                <small th:text="${subMenu}"></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li th:text="${menu}"></li>
                <li class="active" th:text="${subMenu}"></li>
            </ol>

            <div class="row box-primary">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <a th:href="@{/admin/user/add}" class="btn btn-success btn-sm btn-create-user">
                                <i class="fa fa-fw fa-plus-square-o"></i> Create
                            </a>

                            <button class="btn btn-primary btn-sm  hidden" id="export-pdf">
                                <i class="fa fa-fw fa-download"></i> PDF
                            </button>

                            <button class="btn btn-primary btn-sm " id="export-excel">
                                <i class="fa fa-fw fa-download"></i> Excel
                            </button>

                            <br><br>
                            <form id="frm-search">
                                <div class="col-sm-3 col-md-3">
                                    <div class="dataTables_length" id="example_length"><label
                                            style="font-weight: normal;">Show <select name="example_length"
                                                aria-controls="example" class="input-sm" id="show-qty"
                                                style="background-color: #fff;">
                                                <option value="10">10</option>
                                                <option value="25" selected>25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> entries</label></div>
                                </div>

<!--                                <div class="form-group col-md-1 col-sm-2 pull-right">-->
<!--                                    <button type="submit" class="btn btn-default" id="btn-search"><i-->
<!--                                            class="fa fa-search"></i></button>-->
<!--                                </div>-->

<!--                                <div class="form-group col-md-2 col-sm-3 pull-right">-->
<!--                                    <select class="form-control" name="selfService">-->
<!--                                        <option value="">Self-Service</option>-->
<!--                                        <option value="true">True</option>-->
<!--                                        <option value="false">False</option>-->
<!--                                    </select>-->
<!--                                </div>-->

<!--                                <div class="form-group col-md-2 col-sm-3 pull-right">-->
<!--                                    <input type="text" class="form-control" name="userName" placeholder="Username">-->
<!--                                </div>-->

<!--                                <div class="form-group col-md-2 col-sm-3 pull-right">-->
<!--                                    <input type="email" class="form-control" name="email" placeholder="Email">-->
<!--                                </div>-->

<!--                                <div class="form-group col-md-2 col-sm-3 pull-right">-->
<!--                                    <input type="mobile" class="form-control" name="mobile" placeholder="Mobile">-->
<!--                                </div>-->
                            </form>

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding table-responsive">
                            <table class="table table-striped" id="table-data">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>username</th>
                                        <th>email</th>
                                        <th>mobile</th>
                                        <th>role</th>
<!--                                        <th>QR Code</th>-->
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>

                            </table>
                        </div>

                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">

                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>
            </div>
        </section>

    </div>
    <th:block layout:fragment="script">
        <script th:src="@{/resources/back-end/js/user/list-user.js}"></script>
<!--        <script th:src="@{/resources/back-end/js/user/qrcode.min.js}"></script>-->

    </th:block>
</body>

</html>