<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <title>Login Page</title>
  <!--Made with love by Mutiullah Samim -->

  <!--Bootsrap 4 CDN-->
  <link rel="stylesheet" th:href="@{/resources/back-end/plugins/login/bootstrap/4.1.3/bootstrap.min.css}"
    type="text/css">

  <!--Fontawesome CDN-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  <!--Custom styles-->
  <link rel="stylesheet" type="text/css" th:href="@{/resources/back-end/plugins/login/login.css}">
  <link rel="icon" th:href="@{/resources/back-end/img/logo.jpg}" type="image/x-icon" />
  <!-- Pace style -->
  <link rel="stylesheet" th:href="@{/resources/back-end/plugins/pace/pace.min.css}">
  <script th:src="@{/resources/back-end/dist/js/axios/axios.min.js}"></script>

  <script th:src="@{/resources/back-end/js/static.js}"></script>
</head>

<body>
  <div class="container">
    <div class="d-flex justify-content-center h-100">
      <div class="card">
        <div class="card-header">
          <h3>Sign In</h3>
        </div>

        <div>
          <p class="message-error text-center" style="color: red;"></p>
        </div>

        <div class="card-body">
          <form id="frm-login">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" class="form-control" id="username" placeholder="username" autofocus required>

            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" class="form-control" id="password" placeholder="password" required
                autocomplete="current-password">
            </div>
            <div class="row align-items-center remember">
              <input type="checkbox" id="remember_me">Remember Me
            </div>
            <div class="form-group">
              <input type="submit" id="btn-login" value="Login" class="btn float-right login_btn">
            </div>
          </form>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>

    <div th:switch="${@environment.getActiveProfiles()[0]}">
      <p th:case="'local'">
        <script>const url = local_url;</script>
      </p>
      <p th:case="'dev'">
        <script>const url = dev_url;</script>
      </p>
      <p th:case="'prod'">
        <script>const url = prod_url;</script>
      </p>
    </div>

  </div>
  <!-- jQuery 3 -->
  <script th:src="@{/resources/back-end/bower_components/jquery/dist/jquery.min.js}"></script>
  <script th:src="@{/resources/back-end/plugins/jquery-cookies/jquery.cookie.js}"></script>
  <script th:src="@{/resources/back-end/js/component.js}"></script>
  <!-- PACE -->
  <script th:src="@{/resources/back-end/bower_components/PACE/pace.min.js}"></script>
  <script th:src="@{/resources/back-end/js/user/login.js}"></script>
</body>

</html>