<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/back-end/admin-layout}">

<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
</head>

<body>
    <div layout:fragment="content">
        <section class="content-header">
            <h1>
                [[${menu}]]
                <small th:text="${subMenu}"></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a th:href="@{/admin/role}">[[${menu}]]</a></li>
                <li class="active" th:text="${subMenu}"></li>
            </ol>

            <div class="row">
                <div class="col-md-12">
                    <!-- /.box -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title" id="error-message"></h3>
                        </div>
                        <form id="frm-submit" method="POST">
                            <!-- form start -->
                            <div class="box-body">

                                <div class="form-group">
                                    <input type="text" class="form-control hidden" id="id" name="id"
                                    th:value="${id != null} ? ${id} : null">
                                    <label>Name</label>
                                    <input type="text" autocomplete="off" class="form-control" id="name" name="name"
                                        placeholder="name" required>
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group">
                                    <label>Priority</label>
                                    <input type="number" autocomplete="off" class="form-control" id="priority" name="priority"
                                           placeholder="priority">
                                    <span class="help-block"></span>
                                </div>

                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-success"
                                    th:text="${id != null} ? 'Update' : 'Save'"></button>
                                <button type="button" id="btn-clear" class="btn btn-danger">Clear</button>
                                <button type="button" id="btn-list" class="btn btn-info">List</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>

    </div>
    <th:block layout:fragment="script">
        <script th:src="@{/resources/back-end/js/category/form-category.js}"></script>
    </th:block>
</body>

</html>