<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/back-end/admin-layout}">

<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
</head>

<body>
    <div layout:fragment="content">
        <section class="content-header">
            <h1>
                [[${menu}]]
                <small th:text="${subMenu}"></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li th:text="${menu}"></li>
                <li class="active" th:text="${subMenu}"></li>
            </ol>

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <a th:href="@{/admin/category/add}" class="btn btn-success btn-sm">
                                <i class="fa fa-fw fa-plus-square-o"></i> Create
                            </a>

                            <button class="btn btn-primary btn-sm  hidden" id="export-pdf">
                                <i class="fa fa-fw fa-download"></i> PDF
                            </button>

                            <button class="btn btn-primary btn-sm " id="export-excel">
                                <i class="fa fa-fw fa-download"></i> Excel
                            </button>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding table-responsive">
                            <table class="table table-striped" id="table-data">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Priority</th>
                                        <th class="text-center">Update Priority</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>

                                <tbody>

                                </tbody>

                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>
            </div>
        </section>

    </div>
    <th:block layout:fragment="script">
        <script th:src="@{/resources/back-end/js/category/list-category.js}"></script>

    </th:block>
</body>

</html>