<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/back-end/admin-layout}">

<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
</head>

<body>
    <div layout:fragment="content">
        <section class="content-header">
            <h1>
                [[${menu}]]
                <small th:text="${subMenu}"></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li th:text="${menu}"></li>
                <li class="active" th:text="${subMenu}"></li>
            </ol>

            <div class="row box-primary">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <a th:href="@{/admin/user/add}" class="btn btn-success btn-sm btn-create-user">
                                <i class="fa fa-fw fa-plus-square-o"></i> Create
                            </a>

                            <button class="btn btn-primary btn-sm  hidden" id="export-pdf">
                                <i class="fa fa-fw fa-download"></i> PDF
                            </button>

                            <button class="btn btn-primary btn-sm " id="export-excel">
                                <i class="fa fa-fw fa-download"></i> Excel
                            </button>

                            <br><br>
                            <form id="frm-search">
                                <div class="col-sm-3 col-md-3">
                                    <div class="dataTables_length" id="example_length"><label
                                            style="font-weight: normal;">Show <select name="example_length"
                                                aria-controls="example" class="input-sm" id="show-qty"
                                                style="background-color: #fff;">
                                                <option value="10">10</option>
                                                <option value="25" selected>25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select> entries</label></div>
                                </div>

                            </form>

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding table-responsive">
                            <table class="table table-striped" id="table-data">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>KH Name</th>
                                        <th>EN Name</th>
                                        <th>Gender</th>
                                        <th>DOB</th>
                                        <th>Card</th>
                                        <th>Card Front</th>
                                        <th>Card Back</th>
                                        <th>Type</th>
                                        <th>Address Line</th>
                                        <th>Village</th>
                                        <th>Commune</th>
                                        <th>District</th>
                                        <th>Province</th>
                                        <th>Status</th>
                                        <th>Reject Reason</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>

                            </table>
                        </div>

                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">

                            </ul>
                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>
            </div>
        </section>

        <div class="modal fade" id="modal-reject-member">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="text-align: center;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Reject Member</h4>
                    </div>
                    <form action="PUT" id="form-reject-member">
                        <div class="modal-body">
                            <div>
                                <h3 class="model-error-message" id="member-reject-error-message"></h3>
                            </div>

                            <div class="form-group">
                                <label>Reason<span class="require-star"> *</span></label>

                                <input type="text" class="form-control" id="reason"
                                       name="reason" autocomplete="off" required placeholder="Reason" autofocus>
                                <input type="text" class="form-control hidden" id="id"
                                       name="id">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default pull-left"
                                    data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>

                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>

    </div>
    <th:block layout:fragment="script">
        <script th:src="@{/resources/back-end/js/member/list-member.js}"></script>

    </th:block>
</body>

</html>