<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/back-end/admin-layout}">

<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
    <script th:src="@{/resources/back-end/bower_components/ckeditor/ckeditor.js}"></script>
    <script src="/ckfinder/static/ckfinder.js"></script>
</head>

<body>
    <div layout:fragment="content">
        <section class="content-header">
            <h1>
                [[${menu}]]
                <small th:text="${subMenu}"></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a th:href="@{/admin/news-and-article}">[[${menu}]]</a></li>
                <li class="active" th:text="${subMenu}"></li>
            </ol>

            <div class="row">
                <div class="col-md-12">
                    <!-- /.box -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title" id="error-message"></h3>
                        </div>
                        <form id="frm-submit" method="POST">
                            <!-- form start -->
                            <div class="box-body">

                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control hidden" id="id" name="id"
                                        th:value="${id != null} ? ${id} : null">
                                        <input type="text" autocomplete="off" class="form-control" id="title"
                                        name="title" placeholder="title" autofocus required>
                                </div>

                                <div class="form-group" id="frm-group-category">
                                    <label>Content Category<span class="require-star"> *</span></label>
                                    <select class="form-control" id="category" name="category">
                                        <option value="">All</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group" id="frm-group-type">
                                    <label>Content Type<span class="require-star"> *</span></label>
                                    <select class="form-control" id="contentType" name="contentType">
                                        <option value="TEXT">TEXT</option>
                                        <option value="VOICE">VOICE</option>
                                        <option value="VIDEO">VIDEO</option>
                                    </select>
                                    <span class="help-block"></span>
                                </div>

                                <div class="form-group">
                                    <label>Content</label>
                                    <textarea id="content" name="content" placeholder="content" required></textarea>
                                </div>

                                <div class="form-group">
                                    <label>Media Url</label>
                                    <input type="text" autocomplete="off" class="form-control" id="mediaUrl"
                                           name="mediaUrl" placeholder="Media Url" autofocus>
                                </div>

                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-success"
                                    th:text="${id != null} ? 'Update' : 'Save'"></button>
                                <button type="button" id="btn-clear" class="btn btn-danger">Clear</button>
                                <button type="button" id="btn-list" class="btn btn-info">List</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>

    </div>
    <th:block layout:fragment="script">
        <script th:src="@{/resources/back-end/js/content/form-content.js}"></script>
    </th:block>
</body>

</html>