<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/back-end/admin-layout}">

<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
</head>

<body>
    <div layout:fragment="content">
        <section class="content-header">
            <h1>
                [[${menu}]]
                <small th:text="${subMenu}"></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li th:text="${menu}"></li>
                <li class="active" th:text="${subMenu}"></li>
            </ol>

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <a th:href="@{/admin/content/add}" class="btn btn-success btn-sm btn-create-news">
                                <i class="fa fa-fw fa-plus-square-o"></i> Create
                            </a>
                            
                            <button class="btn btn-primary btn-sm  hidden" id="export-pdf">
                                <i class="fa fa-fw fa-download"></i> PDF
                            </button>

                            <button class="btn btn-primary btn-sm " id="export-excel">
                                <i class="fa fa-fw fa-download"></i> Excel
                            </button>

                            <br><br>

                            <div class="form-group col-md-1 col-sm-1">
                                <div>
                                    <label style="font-weight: normal;">Show <select name="example_length"
                                            aria-controls="example" class="input-sm" id="show-qty"
                                            style="background-color: #fff;">
                                            <option value="10">10</option>
                                            <option value="25" selected>25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </label></div>
                            </div>

                            <form id="frm-search">
                                <div class="form-group col-md-1 col-sm-2 pull-right">
                                    <button type="submit" class="btn btn-default" id="btn-search"><i
                                            class="fa fa-search"></i></button>
                                </div>

                                <div class="form-group col-md-2 col-sm-3 pull-right">
                                    <select class="form-control" id="categoryId" name="categoryId">
                                        <option value="">Select Category</option>
                                    </select>
                                </div>

                                <div class="form-group col-md-2 col-sm-3 pull-right">
                                    <select class="form-control" id="contentType" name="contentType">
                                        <option value="">Select Content Type</option>
                                        <option value="TEXT">TEXT</option>
                                        <option value="VOICE">VOICE</option>
                                        <option value="VIDEO">VIDEO</option>
                                    </select>
                                </div>

                            </form>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding table-responsive">
                            <table class="table table-striped" id="table-data">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Category</th>
                                        <th>Content Type</th>
                                        <th>Content Title</th>
                                        <th>Media Url</th>
                                        <th>Priority</th>
                                        <th class="text-center">Update Priority</th>
                                        <th>Created At</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>

                                <tbody>

                                </tbody>

                            </table>
                        </div>

                        <div class="box-footer clearfix">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination" id="pagination"></ul>
                            </nav>
                        </div>
                        <!-- /.box-body -->
                    </div>

                </div>
            </div>
        </section>

    </div>
    <th:block layout:fragment="script">
        <script th:src="@{/resources/back-end/js/content/list-content.js}"></script>

    </th:block>
</body>

</html>