<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Version</b> 2.4.0
  </div>
  <strong>Copyright &copy; 2020-2021 <a href="#">@Team</a>.</strong> All rights
  reserved.
</footer>

</div>
<!-- ./wrapper -->