<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
      <div class="pull-left image">
        <img th:src="@{/resources/back-end/dist/img/user.png}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p id="login-username">

        </p>
        <!-- Status -->
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">HEADER</li>
      <!-- Optionally, you can add icons to the links -->
      <li class="active"><a th:href="@{/admin/dashboard}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
      </li>
      <li class="treeview">
        <a href="#"><i class="fa fa-asterisk"></i> <span>Portfolio</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class=""><a th:href="@{/admin/category}"><i class="fa fa-circle-o"></i> Category</a></li>
          <li class=""><a th:href="@{/admin/content}"><i class="fa fa-circle-o"></i> Content</a></li>
          <li class=""><a th:href="@{/admin/about-us}"><i class="fa fa-circle-o"></i> About Us</a></li>
          <li class=""><a th:href="@{/admin/history}"><i class="fa fa-circle-o"></i> History</a></li>
        </ul>
      </li>

      <li class="treeview">
        <a href="#"><i class="fa fa-users"></i> <span>User</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="btn-read-user"><a th:href="@{/admin/user}"><i class="fa fa-circle-o"></i> User</a></li>
          <li class="btn-read-client"><a th:href="@{/admin/member}"><i class="fa fa-circle-o"></i> Member</a></li>
        </ul>
      </li>

    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
<script type="text/javascript">
  $(document).ready(function () {
    $('#login-username').text(localStorage.getItem('user'));
    const url = $(location).attr('href').split("/").splice(4, 1).join("/");
    $('.treeview-menu li').removeClass('active');
    $('[href$="' + url + '"]').parent().addClass("active");
    $('.treeview').removeClass('menu-open active');
    $('[href$="' + url + '"]').closest('li.treeview').addClass("menu-open active");
  });
</script>