<!-- Bootstrap 3.3.7 -->
<script th:src="@{/resources/back-end/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/resources/back-end/dist/js/adminlte.min.js}"></script>
<!-- dialoag confirm -->
<script th:src="@{/resources/back-end/dist/js/js_confirm/jquery-confirm.min.js}"></script>
<!-- jquery cookies -->
<script th:src="@{/resources/back-end/plugins/jquery-cookies/jquery.cookie.js}"></script>
<!-- all components -->
<script th:src="@{/resources/back-end/dist/js/axios/axios.min.js}"></script>
<!-- PACE -->
<script th:src="@{/resources/back-end/bower_components/PACE/pace.min.js}"></script>
<!-- bootstrap datepicker -->
<script th:src="@{/resources/back-end/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
<!-- pdfobject -->
<script th:src="@{/resources/back-end/dist/js/pdfobject/2.2.4/pdfobject.min.js}"></script>

<script type="text/javascript" th:src="@{/resources/back-end/bower_components/jquery.formatCurrency-1.4.0/jquery.formatCurrency-1.4.0.js}"></script>
<script type="text/javascript" th:src="@{/resources/back-end/bower_components/tableExport/tableExport.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/back-end/bower_components/tableExport/libs/jsPDF/jspdf.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/back-end/bower_components/tableExport/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js}"></script>
<script th:src="@{/resources/back-end/bower_components/moment/moment.js}"></script>
<script th:src="@{/resources/back-end/dist/js/pagination/jquery.twbsPagination.min.js}"></script>