<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet" th:href="@{/resources/back-end/bower_components/bootstrap/dist/css/bootstrap.min.css}">
<!-- Font Awesome -->
<link rel="stylesheet" th:href="@{/resources/back-end/bower_components/font-awesome/css/font-awesome.min.css}">
<!-- Ionicons -->
<link rel="stylesheet" th:href="@{/resources/back-end/bower_components/Ionicons/css/ionicons.min.css}">
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/resources/back-end/dist/css/AdminLTE.min.css}">
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" th:href="@{/resources/back-end/dist/css/skins/_all-skins.min.css}">
<!-- dialoag confirm sytle -->
<link rel="stylesheet" th:href="@{/resources/back-end/dist/css/js_confirm/jquery-confirm.min.css}">
<!-- custom sytle -->
<link rel="stylesheet" th:href="@{/resources/back-end/dist/css/custom.css}">
<!-- jQuery 3 -->
<script th:src="@{/resources/back-end/bower_components/jquery/dist/jquery.min.js}"></script>
<!-- Pace style -->
<link rel="stylesheet" th:href="@{/resources/back-end/plugins/pace/pace.min.css}">
<!-- bootstrap datepicker -->
<link rel="stylesheet" th:href="@{/resources/back-end/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}">
<!-- static variable -->
<script th:src="@{/resources/back-end/js/static.js}"></script>
<script th:src="@{/resources/back-end/js/token.js}"></script>
<script th:src="@{/resources/back-end/js/component.js}"></script>
<link rel="icon" th:href="@{/resources/back-end/img/logo.jpg}" type="image/x-icon" />
