<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{shared/back-end/admin-layout}">

<head>
    <meta charset="ISO-8859-1">
    <title>User</title>
    <script th:src="@{/resources/back-end/bower_components/ckeditor/ckeditor.js}"></script>
    <script src="/ckfinder/static/ckfinder.js"></script>
</head>

<body>
    <div layout:fragment="content">
        <section class="content-header">
            <h1>
                [[${menu}]]
                <small th:text="${subMenu}"></small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a th:href="@{/admin/role}">[[${menu}]]</a></li>
                <li class="active" th:text="${subMenu}"></li>
            </ol>

            <div class="row">
                <div class="col-md-12">
                    <!-- /.box -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title" id="error-message"></h3>
                        </div>
                        <form id="frm-submit" method="POST">
                            <!-- form start -->
                            <div class="box-body">

                                <div class="form-group">
                                    <label>Content</label>
                                    <textarea id="content" name="content" placeholder="content"></textarea>
                                </div>

                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-success btn-update-about-us">Update</button>
                                <button type="button" id="btn-clear" class="btn btn-danger">Clear</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>

    </div>
    <th:block layout:fragment="script">
        <script th:src="@{/resources/back-end/js/history/form-history.js}"></script>
    </th:block>
</body>

</html>